/*==========  Desktop First Method  ==========*/

/* Extra Size Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

	p.denis-text-1 {
		width: 510px;
		font: 100px 'rusboycottregular';
		line-height: 100px;
	}

	img.step-img-stanislav {
		display: block;
		position: absolute;
		top: 190px;
		right: 0;
		width: 253px;
		height: 460px;
	}

}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

	/* M E N U < 1199 */
	.navbar-default .navbar-nav > li > a {
		margin: 0 8px;
	}

	/* denis */
	p.denis-text-1 {
		margin: 110px 0 0 20px;
		padding: 25px 5px;
		width: 410px;
		font: 80px 'rusboycottregular';
		line-height: 86px;
	}

	p.denis-text-2 {
		margin: 0 0 0 20px;
		padding: 15px 15px;
		width: 425px;
		font: 32px 'gagalinregular';
		line-height: 36px;
	}

	p.denis-text-3 {
		margin: -5px 0 0 20px;
		padding: 0 15px 15px;
		width: 425px;
		font: 600 17px 'Open Sans';
		line-height: 21px;
	}

	p.denis-text-4 {
		margin: 0 0 0 20px;
		padding: 15px 15px;
		width: 425px;
		font: 48px 'gagalinregular';
		line-height: 56px;
		text-align: center;
	}



	/* irina */
	p.irina-text-1,
	p.irina-text-3 {
		margin-top: 90px;
	}



	/* stanislav */
	p.stanislav-text-1 {
		margin-top: -90px;
	}
	p.stanislav-text-3 {
		margin-top: 90px;
	}



	/* why */
	img.why-img-arrow-left,
	img.why-img-arrow-right,
	img.why-brokoli,
	img.why-gantel {
		display: none;
	}



	/* profit */
	img.profit-img {
		margin: 35px auto 0;
	}

	p.profit-text-3 {
		margin: 20px auto 20px;
		padding: 6px 10px;
		width: 220px;
		font: 800 16px 'Open Sans';
		line-height: 21px;
	}


	p.profit-text-4 {
		margin: 7px auto 7px;
		padding: 6px 10px;
		width: 220px;
		font: 800 16px 'Open Sans';
		line-height: 21px;
	}




	/* step */
	.step-block {
		width: 100%;
		background: none;
	}

	img.step-img-stanislav {
		top: -90px;
		width: 180px;
		height: 327px;
	}

	img.step-img-irina,
	img.step-img-denis {
		display: none;
	}

	.step-block-1,
	.step-block-2,
	.step-block-3,
	.step-block-4,
	.step-block-5,
	.step-block-6,
	.step-block-7,
	.step-block-8 {
		float: none;
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	img.step-img {
		float: none;
		display: block;
		margin: 35px auto 0;
	}

	p.step-line-text-1,
	p.step-line-text-2,
	p.step-line-text-3,
	p.step-line-text-4,
	p.step-line-text-5,
	p.step-line-text-6,
	p.step-line-text-7,
	p.step-line-text-8 {
		float: none;
		display: block;
		margin: 15px auto;
		width: 100%;
		font: 800 17px 'Open Sans';
		line-height: 21px;
		color: #003333;
		text-align: center;
	}



	/* youtube-video-irina */
	.youtube-video-irina {
		margin: 75px 20px 0;
	}

	p.reason-irina-text {
		margin-top: 120px;
	}

	a.btn-reason-irina {
		margin: 50px auto 0;
	}

	/* youtube-video-stanislav */
	.youtube-video-stanislav {
		margin: 75px 20px 0;
	}

	p.reason-stanislav-text {
		margin-top: 98px;
	}

	a.btn-reason-stanislav {
		margin: 50px auto 0;
	}



	/* prize */
	p.prize-text-4 {
		display: block;
		margin: 200px auto 0;
		padding: 15px 20px;
		width: 100%;
		font: 42px 'gagalinregular';
		line-height: 48px;
	}



	/* tariff */
	.tariff {
		padding-top: 100px;
		padding-bottom: 100px;
		min-height: auto;
		background: url(../img/bg-tariff.jpg) center center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.tariff-card {
		margin: 60px 48px;
	}

	.tariff-card-4 {
		margin: 60px 48px 60px 210px;
	}



}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

	.header-line {
		height: 30px;
	}

	/* M E N U < 992px */
	.navbar-default .navbar-nav > li > a {
		padding: 5px 15px;
		margin: 0 17px;
		font: 15px 'gagalinregular', sans-serif;
		line-height: 20px;
	}

	/* denis */
	p.denis-text-1 {
		margin: 110px 0 0 10px;
		padding: 25px 5px;
		width: 350px;
		font: 66px 'rusboycottregular';
		line-height: 70px;
	}

	p.denis-text-2 {
		margin: 0 0 0 10px;
		padding: 15px 15px;
		width: 350px;
		font: 26px 'gagalinregular';
		line-height: 30px;
	}

	p.denis-text-3 {
		margin: -5px 0 0 10px;
		padding: 0 15px 15px;
		width: 350px;
		font: 600 17px 'Open Sans';
		line-height: 21px;
	}

	p.denis-text-4 {
		margin: 0 0 0 10px;
		padding: 15px 15px;
		width: 350px;
		font: 40px 'gagalinregular';
		line-height: 46px;
	}

		p.denis-text-4 em {
			font: normal 30px 'gagalinregular';
			line-height: 30px;
		}



	/* irina */
	p.irina-text-1,
	p.irina-text-2 {
		padding: 15px 25px;
		width: 500px;
	}


	/* stanislav */
	p.stanislav-text-1,
	p.stanislav-text-2 {
		padding: 15px 25px;
		width: 500px;
		text-align: center;
	}



	/* why */
	.why-video-block {
		margin: 55px auto;
		padding: 0;
		width: 100%;
		height: auto;
		background: none;
	}

	p.why-video-text {
		display: block;
		position: relative;
		margin: 15px auto 0;
		padding: 0;
		width: 100%;
		height: auto;
		background: none;
	}

	a.btn-why {
		display: block;
		margin: 50px auto 0;
	}

	p.why-text-1 {
		padding-top: 25px;
	}



	/* profit */
	.profit {
		padding-top: 0;
		padding-bottom: 100px;
		min-height: auto;
		background: url(../img/profit-bg.jpg) center center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	p.profit-text-1 {
		padding: 35px 0 25px;
		font: 30px 'gagalinregular';
		line-height: 34px;
	}



	/* step */
	img.step-img-stanislav {
		display: none;
	}



	/* reason */
	p.reason-text-3 {
		padding: 12px 20px;
		width: 600px;
		font: 48px 'gagalinregular';
		line-height: 56px;
		text-align: center;
	}

	img.reason-gantely {
		display: none;
	}

	.youtube-video-denis,
	.youtube-video-irina,
	.youtube-video-stanislav {
		margin: 75px auto 0;
	}

	p.reason-denis-text,
	p.reason-irina-text,
	p.reason-stanislav-text {
		margin-top: 35px;
		padding: 0 30px;
	}

	a.btn-reason-denis,
	a.btn-reason-irina,
	a.btn-reason-stanislav {
		margin: 35px auto 0;
	}



	/* prize */
	p.prize-text-2 {
		margin: 55px auto;
		padding: 0 15px;
		width: 100%;
		height: auto;
		font: 900 110px 'Open Sans';
		line-height: 60px;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
		background: none;
	}

		p.prize-text-2 span {
			font:  48px 'gagalinregular';
			line-height: 60px;
		}

	p.prize-text-3 {
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
	}

	.prize-left {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-left: 0;
		height: 255px;
		width: 455px;
	}

	.prize-right {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: 0;
		height: 375px;
		width: 308px;
	}


	/* tariff */
	.tariff-card {
		margin: 60px 12px;
	}

	.tariff-card-4 {
		margin: 60px 12px 60px 137px;
	}



	/* faq */
	.faq {
		margin-top: 0;
		padding-top: 0;
	}

	img.faq-expander {
		display: none;
	}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	.header-line {
		height: 38px;
	}

	/* M E N U < 768px */
	.navbar-default .navbar-nav > li > a {
		padding: 7px 0;
		margin: 0 auto;
		font: 21px 'gagalinregular', sans-serif;
		line-height: 24px;
		color: #efc330;
	}

	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		color: #f6ee14;
		background: transparent;
		-webkit-box-shadow: none !important;
		-moz-box-shadow:    none !important;
		box-shadow:         none !important;
	}

	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: #f6ee14;
		background: rgba(246, 238, 20, .1);
		-webkit-box-shadow: none !important;
		-moz-box-shadow:    none !important;
		box-shadow:         none !important;
	}

	/* cover-trainers */
	.cover-trainers {
		min-height: auto;
		background: #8B6E66;
		overflow: hidden;
	}

	/* denis */
	.denis {
		padding-top: 15px;
		padding-bottom: 45px;
		min-height: auto;
		background: url(../img/bg-denis.jpg) center center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	p.denis-text-1,
	p.denis-text-2,
	p.denis-text-3,
	p.denis-text-4 {
		display: block;
		margin: 0 auto;
		padding: 10px 10px;
		width: 380px;
		text-align: center;
	}

	p.denis-text-5 {
		float: none;
		position: absolute;
		display: block;
		margin: 0;
		bottom: -60px;
		left: 50%;
		margin-left: -210px;
		width: 419px;
		height: 94px;
	}

	p.denis-text-3 {
		margin-top: 15px;
	}

	p.denis-text-6 {
		margin-top: 35px;
	}

	a.btn-denis {
		margin: 15px auto 0;
	}



	/* irina */
	.irina {
		padding-top: 25px;
		padding-bottom: 45px;
		min-height: auto;
		background: url(../img/bg-irina.jpg) center center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	/* irina */
	p.irina-text-1,
	p.irina-text-2 {
		float: none;
		display: block;
		margin: 0 auto;
		padding: 10px 20px;
		width: 380px;
		text-align: center;

		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}

		p.irina-text-1 span,
		p.irina-text-2 span {
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
		}

	p.irina-text-1 {
		font: 36px 'gagalinregular';
		line-height: 42px;
	}

	p.irina-text-2 {
		font: 21px 'gagalinregular';
		line-height: 24px;
	}

	p.irina-text-3 {
		float: none;
		position: absolute;
		display: block;
		margin: 0;
		bottom: -60px;
		left: 50%;
		margin-left: -190px;
		width: 381px;
		height: 66px;
	}



	/* stanislav */
	.stanislav {
		padding-top: 25px;
		padding-bottom: 45px;
		min-height: auto;
		background: url(../img/bg-stanislav.jpg) center center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	p.stanislav-text-1,
	p.stanislav-text-2 {
		float: none;
		display: block;
		margin: 0 auto;
		padding: 10px 20px;
		width: 380px;
		text-align: center;

		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}

		p.stanislav-text-1 span,
		p.stanislav-text-2 span {
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
		}

	p.stanislav-text-1 {
		font: 21px 'gagalinregular';
		line-height: 24px;
	}

	p.stanislav-text-2 {
		font: 48px 'gagalinregular';
		line-height: 48px;
	}

	p.stanislav-text-3 {
		float: none;
		position: absolute;
		display: block;
		margin: 0;
		bottom: -60px;
		left: 50%;
		margin-left: -218px;
		width: 436px;
		height: 73px;
	}



	/* why */
	.why-video {
		width: 440px;
		height: 248px;
	}

	p.why-text-2 {
		margin: 30px auto 20px;
		padding: 10px 25px;
		width: 100%;
		font: 600 18px 'Open Sans';
		line-height: 24px;
		text-align: center;

		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}

		p.why-text-2 span {
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
		}

	p.why-text-3 {
		margin: 0 auto;
		padding: 15px 25px;
		width: 100%;
		height: auto;
		font: 800 32px 'Open Sans';
		line-height: 36px;
		background: none;
	}



	/* profit */
	.profit {
		padding-top: 0;
		padding-bottom: 50px;
		background: #fff;
		-webkit-background-size: none;
		-moz-background-size: none;
		-o-background-size: none;
		background-size: none;
	}

	p.profit-text-1 {
		color: #000;
	}



	/* step */
	p.step-text-1 {
		display: block;
		margin: 0 auto;
		padding: 0 15px;
		width: 100%;
		height: auto;
		font: 800 48px 'gagalinregular';
		line-height: 60px;
		background: none;
	}

	img.step-img-stanislav {
		display: block;
		top: 245px;
	}

	img.step-img-irina {
		display: block;
		position: absolute;
		top: 770px;
		left: 0;
		width: 210px;
		height: 267px;
	}

	img.step-img-denis {
		display: block;
		position: absolute;
		bottom: -200px;
		right: 0;
		width: 180px;
		height: 245px;
	}



	/* reason */
	p.reason-text-1 {
		display: block;
		margin: 85px auto 0;
		padding: 10px 25px;
		width: 440px;
		font: 36px 'gagalinregular';
		line-height: 42px;
		text-align: center;
	}

	p.reason-text-3 {
		margin-top: 75px;
		width: 100%;
		font: 32px 'gagalinregular';
		line-height: 36px;
	}

	p.reason-denis-text-label,
	p.reason-irina-text-label,
	p.reason-stanislav-text-label {
		float: none;
		display: block;
		margin: 0 auto;
		padding: 12px 15px;
		width: 92%;
		font: 800 17px 'Open Sans';
		line-height: 21px;
		text-align: center;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}

		p.reason-denis-text-label span,
		p.reason-irina-text-label span,
		p.reason-stanislav-text-label span {
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
		}


	p.reason-denis-text {
		margin-top: 35px;
	}

	a.btn-reason-denis {
		display: block;
		margin: 35px auto 0;
	}

	img.reason-vesy {
		top: -300px;
		right: 40px;
	}



	/* prize */
	.prize {
		margin: 0;
		padding: 0;
		padding-top: 60px;
		padding-bottom: 45px;
		min-height: auto;
		background: url(../img/bg-prize.jpg) center center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	p.prize-text-1 {
		font: 42px 'gagalinregular';
		line-height: 48px;
	}

	p.prize-text-2 {
		margin: 25px auto;
		font: 900 76px 'Open Sans';
		line-height: 60px;
	}

		p.prize-text-2 span {
			font: 40px 'gagalinregular';
			line-height: 46px;
		}

	p.prize-text-3 {
		font: 36px 'gagalinregular';
		line-height: 42px;
	}

	p.prize-text-4 {
		margin: 55px auto 0;
		font: 36px 'gagalinregular';
		line-height: 42px;
	}

	p.prize-text-5 {
		margin-top: 25px;
		margin-bottom: 250px;
		padding: 15px 25px;
		width: 100%;
		text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
		background: #ff9900;
	}

	.prize-left {
		height: 153px;
		width: 273px;
	}

	.prize-right {
		height: 225px;
		width: 185px;
	}



	/* tariff */
	.tariff {
		padding-top: 65px;
		padding-bottom: 20px;
		background: url(../img/bg-tariff-mob.jpg) center top repeat;
	}

	.tariff-card {
		float: none;
		margin: 0;
		margin: 60px auto;
		padding-bottom: 45px;
		padding-top: 5px;
		height: auto;
	}

	p.tariff-text-1 {
		padding: 0 25px;
		width: 100%;
		height: auto;
		background: none;
	}



	/* faq */
	.faq {
		padding-top: 60px;
	}



	/* footer */
	p.footer-text-1 {
		padding: 100px 0 30px 0;
		font: 48px 'gagalinregular';
		line-height: 56px;
		text-align: center;
		color: #fff;
	}

		.footer-bottom a {
			font: 700 17px 'Open Sans';
			line-height: 24px;
		}



}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.expert-top {
		margin: 0 auto 25px;
	}

	/* denis */
	img.semenihin {
		margin: 15px auto 0;
		width: 200px;
		height: 341px;
	}

	img.turchinskaya {
		margin: 15px auto 0;
		width: 200px;
		height: 334px;
	}

	img.lindover {
		margin: 15px auto 0;
		width: 200px;
		height: 240px;
	}

	p.denis-text-1 {
		padding: 5px 10px;
		width: 280px;
		font: 52px 'rusboycottregular';
		line-height: 56px;
	}

	p.denis-text-2 {
		padding: 5px 10px;
		width: 280px;
		font: 21px 'gagalinregular';
		line-height: 24px;
	}

	p.denis-text-3 {
		margin-top: 25px;
		padding: 10px 15px 5px;
		width: 280px;
		font: 600 14px 'Open Sans';
		line-height: 21px;
	}

	p.denis-text-4 {
		padding: 10px 15px;
		width: 280px;
		font: 56px 'gagalinregular';
		line-height: 36px;

		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}

		p.denis-text-4 span {
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
		}

		p.denis-text-4 em {
			font: normal 36px 'gagalinregular';
			line-height: 36px;
		}

	p.denis-text-5 {
		bottom: -15px;
		margin-left: -140px;
		padding: 22px 0;
		width: 280px;
		height: 64px;
		font: 800 17px 'Open Sans';
		line-height: 20px;
		background: url(../img/denis-text-bg.png) center center no-repeat;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	p.denis-text-6 {
		margin-top: 15px;
	}



	/* irina */
	p.irina-text-1,
	p.irina-text-2 {
		padding: 10px 20px;
		width: 100%;
		text-align: center;
	}

	p.irina-text-1 {
		font: 28px 'gagalinregular';
		line-height: 32px;
	}

	p.irina-text-2 {
		font: 18px 'gagalinregular';
		line-height: 21px;
	}

	p.irina-text-3 {
		bottom: -15px;
		margin-left: -140px;
		padding: 15px 0;
		width: 280px;
		height: 49px;
		font: 800 17px 'Open Sans';
		line-height: 20px;
		background: url(../img/irina-text-bg.png) center center no-repeat;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}



	/* stanislav */
	p.stanislav-text-1,
	p.stanislav-text-2 {
		padding: 10px 20px;
		width: 100%;
		text-align: center;
	}

	p.stanislav-text-1 {
		font: 21px 'gagalinregular';
		line-height: 24px;
	}


	p.stanislav-text-3 {
		bottom: -15px;
		margin-left: -140px;
		padding: 14px 0;
		width: 280px;
		height: 47px;
		font: 800 17px 'Open Sans';
		line-height: 20px;
		background: url(../img/stanislav-text-bg.png) center center no-repeat;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}



	/* why */
	.why-video {
		width: 300px;
		height: 170px;
	}

	p.why-video-text,
	p.why-text-1 {
		font: 800 24px 'gagalinregular';
		line-height: 28px;
	}

	p.why-text-2 {
		padding: 15px 15px;
		font: 600 14px 'Open Sans';
		line-height: 21px;
	}

	p.why-text-3 {
		font: 800 24px 'Open Sans';
		line-height: 28px;
	}



	/* profit */
	p.profit-text-1 {
		font: 24px 'gagalinregular';
		line-height: 28px;
	}

		p.profit-text-1 span {
			font: 18px 'gagalinregular';
			line-height: 21px;
		}

	p.profit-text-2 {
		font: 600 16px 'Open Sans';
		line-height: 21px;
		color: #003333;
	}

		p.profit-text-2 span {
			padding: 0;
			background: none;
		}



	/* step */
	p.step-text-1 {
		font: 24px 'gagalinregular';
		line-height: 28px;
	}

	img.step-img-stanislav,
	img.step-img-irina,
	img.step-img-denis {
		display: none;
	}



	/* motivation */
	.motivation {
		margin-top: 0;
	}

	p.motivation-text-1 {
		padding: 115px 0 45px;
		font: 36px 'gagalinregular';
		line-height: 42px;
	}

	p.motivation-text-2 {
		font: 600 21px 'Open Sans';
		line-height: 24px;
	}

		p.motivation-text-2 strong {
			font: 800 17px 'Open Sans';
			line-height: 21px;
		}

	a.btn-motivation {
		margin: 50px auto 0;
		width: 100%;
		height: 62px;
		font: 800 21px 'Open Sans';
		line-height: 62px;
	}



	/* reason */
	.reason {
		margin: 0;
		padding: 0;
	}

	p.reason-text-1 {
		width: 100%;
		font: 28px 'gagalinregular';
		line-height: 32px;

		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}

		p.reason-text-1 span {
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
		}

	p.reason-text-3 {
		font: 24px 'gagalinregular';
		line-height: 28px;
	}

	img.reason-vesy {
		position: static;
		display: block;
		margin: 0 auto;
		bottom: 0;
		right: 0;
		width: 293px;
		height: 179px;
	}



	/* prize */
	.prize {
		padding-bottom: 30px;
	}

	p.prize-text-1 {
		font: 32px 'gagalinregular';
		line-height: 36px;
		text-shadow: none;
	}

	p.prize-text-2 {
		font: 900 56px 'Open Sans';
		line-height: 60px;
		text-shadow: none;
	}

	p.prize-text-3 {
		font: 30px 'gagalinregular';
		line-height: 36px;
		text-shadow: none;
	}

	p.prize-text-4 {
		font: 24px 'gagalinregular';
		line-height: 28px;
	}

	p.prize-text-5 {
		margin-bottom: 25px;
		padding: 15px 25px;
		width: 100%;
	}

	.prize-left {
		position: static;
		display: block;
		margin: 35px auto;
		height: 153px;
		width: 273px;
	}

	.prize-right {
		position: static;
		display: block;
		margin: 0 auto;
		height: 225px;
		width: 185px;
	}



	/* tariff */
	p.tariff-text-1 {
		font: 34px 'gagalinregular';
		line-height: 40px;
	}



	/* faq */
	p.faq-text-1 {
		padding: 0 25px;
		width: 100%;
		height: auto;
		font: 32px 'gagalinregular';
		line-height: 36px;
		background: none;
	}



	/* footer */
	p.footer-text-1 {
		font: 36px 'gagalinregular';
		line-height: 42px;
	}

	p.footer-text-2 {
		font: 17px 'Open Sans';
		line-height: 21px;
	}

	p.formTooltip {
		width: 280px;
		margin-left: -140px;
	}

		.footer-bottom a {
			font: 700 14px 'Open Sans';
			line-height: 21px;
		}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}