/*==========  Desktop First Method  ==========*/

/* Extra Size Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

	p.denis-text-1 {
		font: italic 125px 'Segoe UI';
		line-height: 140px;
	}

	/* now */
	.now {
		background: url('../img/prize-notebook.png') -100px 205px no-repeat,
					url('../img/prize-tel.png') right 175px no-repeat;
	}

	p.footer-text-label {
		left: 25px;
	}

}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1366px) {

	.nav-cover {
		margin-left: 50px;
		width: 640px;
	}

	.navbar-default .navbar-nav > li > a {
		margin: 10px 40px 5px;
		font: 30px 'qanelassemibold_italic';
		line-height: 30px;
	}

	p.denis-text-1 {
		font: italic 108px 'Segoe UI';
		line-height: 140px;
	}

	p.irina-text-3 {
		margin-right: 50px;
	}

	p.stanislav-text-3 {
		margin-left: 50px;
	}

	.stanislav-text-block-top {
		margin-right: 25px;
	}

	.stanislav-text-block-bottom {
		margin-right: 25px;
	}


	/* P R O F I T */
	.profit-block {
		width: 1160px;
	}

	img.profit-label-line-bottom {
		left: 0;
		width: 1160px;
	}

	img.profit-img {
		display: block;
		margin: 20px auto -10px;
		width: 220px;
		height: 220px;
	}

	p.profit-text-3 {
		padding: 15px 0;
		font: 36px 'gagalinregular';
		line-height: 30px;
	}

	p.profit-text-4 {
		font: 30px 'gagalinregular';
		line-height: 30px;
	}

	.profit-block-card-1,
	.profit-block-card-2,
	.profit-block-card-3,
	.profit-block-card-4 {
		margin: 0 5px;
}
	.profit-block-card-2,
	.profit-block-card-3,
	.profit-block-card-4,
	p.profit-card-text-2,
	p.profit-card-text-3,
	p.profit-card-text-4 {
		width: 261px;
		height: auto;
		min-height: 180px;
		overflow: hidden;
	}


	/* W H Y */
	.why-cover {
		width: 1150px;
	}

	.youtube {
		width: 1150px;
		height: 647px;
	}

	p.why-video-text-top {
		top: 15px;
		left: 0;
		margin-left: 0;
		width: 400px;
	}

	p.why-video-text-bottom {
		margin-left: -575px;
		width: 1150px;
		font: 26px 'ralewaymedium';
		line-height: 30px;
	}

		p.why-video-text-bottom strong {
			font: 48px 'ralewaybold';
			line-height: 36px;
			text-shadow: 0px 5px 3px rgba(0, 0, 0, 1);
		}

		p.why-video-text-bottom em {
			font: 21px 'ralewaymedium';
			line-height: 30px;
			font-style: normal;
		}



	/* S T E P */
	img.step-img-stanislav {
		top: 0;
		width: 360px;
		height: 515px;
	}

	img.step-img-irina {
		top: 600px;
		width: 360px;
		height: 624px;
	}

	img.step-img-denis {
		bottom: -128px;
		width: 360px;
		height: 573px;
	}

	.step-block-3,
	.step-block-6 {
		margin-left: 0;
	}



	/* W H A T */
	.what {
		background: url('../img/bg-what.jpg') -400px top no-repeat;
	}

	.what-ico-block-main {
		float: right;
		display: block;
		margin-right: 25px;
		width: 850px;
	}



	/* P R A C T I C E */
	p.practice-text-desc {
		padding: 15px 10px;
		text-align: center;
	}



	/* P R I Z E */
	.prize-cover {
		width: 1200px;
		overflow: hidden;
	}

	.prize-left-1,
	.prize-left-2,
	.prize-left-3,
	.prize-left-4,
	.prize-left-5,
	.prize-left-6 {
		width: 520px;
	}

	p.prize-text-left-1 {
		font: 66px 'gagalinregular';
		line-height: 80px;
	}



	/* N O W */
	.now {
		background: url('../img/prize-notebook.png') -200px 205px no-repeat,
					url('../img/prize-tel.png') 750px 175px no-repeat;
	}



	/* F O O T E R */
	.footer-bottom a {
		font: 700 24px 'ralewaymedium';
		line-height: 28px;
	}


}
