html {
	height: 100%;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	min-width: 1170px;
	height: 100%;
	font-family: 'DINPro', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	background: #919299;
	overflow-x: hidden;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

*, *:before, *:after {
	padding: 0;
	margin: 0;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

div, section, header, footer, input, img, p, a, h1, h2, h3, h4, h5, h6, ul, li, {
	padding: 0;
	margin: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

.hidden {
	display: none;
}



/* FONT: CM Sans */
@font-face {
	font-family: 'cm_sans_serif_2012_agedmedium';
	src: url('../fonts/CM_Sans/cm_sans_serif_2012_aged-webfont.eot');
	src: url('../fonts/CM_Sans/cm_sans_serif_2012_aged-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/CM_Sans/cm_sans_serif_2012_aged-webfont.woff2') format('woff2'),
		 url('../fonts/CM_Sans/cm_sans_serif_2012_aged-webfont.woff') format('woff'),
		 url('../fonts/CM_Sans/cm_sans_serif_2012_aged-webfont.ttf') format('truetype'),
		 url('../fonts/CM_Sans/cm_sans_serif_2012_aged-webfont.svg#cm_sans_serif_2012_agedmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* FONT: EXO ExtraLight */
@font-face {
	font-family: 'exo_2.0extra_light';
	src: url('../fonts/Exo/exo_2.0_extra_light-webfont.eot');
	src: url('../fonts/Exo/exo_2.0_extra_light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Exo/exo_2.0_extra_light-webfont.woff2') format('woff2'),
		 url('../fonts/Exo/exo_2.0_extra_light-webfont.woff') format('woff'),
		 url('../fonts/Exo/exo_2.0_extra_light-webfont.ttf') format('truetype'),
		 url('../fonts/Exo/exo_2.0_extra_light-webfont.svg#exo_2.0extra_light') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FONT: EXO Light */
@font-face {
	font-family: 'exo_2.0light';
	src: url('../fonts/Exo/exo_2.0_light-webfont.eot');
	src: url('../fonts/Exo/exo_2.0_light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Exo/exo_2.0_light-webfont.woff2') format('woff2'),
		 url('../fonts/Exo/exo_2.0_light-webfont.woff') format('woff'),
		 url('../fonts/Exo/exo_2.0_light-webfont.ttf') format('truetype'),
		 url('../fonts/Exo/exo_2.0_light-webfont.svg#exo_2.0light') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* FONT: Dinpro Condensed Light */
@font-face {
	font-family: 'DIN Pro Cond';
	src: url('../fonts/DinproCond/subset-DINPro-CondensedLight.eot');
	src: url('../fonts/DinproCond/subset-DINPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/DinproCond/subset-DINPro-CondensedLight.woff2') format('woff2'),
		 url('../fonts/DinproCond/subset-DINPro-CondensedLight.woff') format('woff'),
		 url('../fonts/DinproCond/subset-DINPro-CondensedLight.ttf') format('truetype'),
		 url('../fonts/DinproCond/subset-DINPro-CondensedLight.svg#DINPro-CondensedLight') format('svg');
	font-weight: 300;
	font-style: normal;
}



/* FONT: Dinpro Light */
@font-face {
	font-family: 'DINPro';
	src: url('../fonts/Dinpro/subset-DINPro-Light.eot');
	src: local('DINPro-Light'),
		url('../fonts/Dinpro/subset-DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Dinpro/subset-DINPro-Light.woff2') format('woff2'),
		url('../fonts/Dinpro/subset-DINPro-Light.woff') format('woff'),
		url('../fonts/Dinpro/subset-DINPro-Light.ttf') format('truetype'),
		url('../fonts/Dinpro/subset-DINPro-Light.svg#DINPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

/* FONT: Dinpro Regular */
@font-face {
	font-family: 'DINPro';
	src: url('../fonts/Dinpro/subset-DINPro-Regular.eot');
	src: local('DINPro-Regular'),
		url('../fonts/Dinpro/subset-DINPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Dinpro/subset-DINPro-Regular.woff2') format('woff2'),
		url('../fonts/Dinpro/subset-DINPro-Regular.woff') format('woff'),
		url('../fonts/Dinpro/subset-DINPro-Regular.ttf') format('truetype'),
		url('../fonts/Dinpro/subset-DINPro-Regular.svg#DINPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FONT: Dinpro Medium */
@font-face {
	font-family: 'DINPro';
	src: url('../fonts/Dinpro/subset-DINPro-Medium.eot');
	src: local('DINPro-Medium'),
		url('../fonts/Dinpro/subset-DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Dinpro/subset-DINPro-Medium.woff2') format('woff2'),
		url('../fonts/Dinpro/subset-DINPro-Medium.woff') format('woff'),
		url('../fonts/Dinpro/subset-DINPro-Medium.ttf') format('truetype'),
		url('../fonts/Dinpro/subset-DINPro-Medium.svg#DINPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* FONT: Dinpro Bold */
@font-face {
	font-family: 'DINPro';
	src: url('../fonts/Dinpro/subset-DINPro-Bold.eot');
	src: local('DINPro-Bold'),
		url('../fonts/Dinpro/subset-DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Dinpro/subset-DINPro-Bold.woff2') format('woff2'),
		url('../fonts/Dinpro/subset-DINPro-Bold.woff') format('woff'),
		url('../fonts/Dinpro/subset-DINPro-Bold.ttf') format('truetype'),
		url('../fonts/Dinpro/subset-DINPro-Bold.svg#DINPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/* FONT: Dinpro Black */
@font-face {
	font-family: 'DINPro';
	src: url('../fonts/Dinpro/subset-DINPro-Black.eot');
	src: local('DINPro-Black'),
		url('../fonts/Dinpro/subset-DINPro-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Dinpro/subset-DINPro-Black.woff2') format('woff2'),
		url('../fonts/Dinpro/subset-DINPro-Black.woff') format('woff'),
		url('../fonts/Dinpro/subset-DINPro-Black.ttf') format('truetype'),
		url('../fonts/Dinpro/subset-DINPro-Black.svg#DINPro-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}



/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



/* ThahnYou */
.thankyou {
	position: relative;
	display: block;
	width: 100%;
	min-height: 100%;
	padding-bottom: 110px;
	overflow: hidden;
	background: url('../img/black-bg.jpg') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* thank-label */
.thank-label {
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 110px;
	background: url('../img/green-footer-label-bg.png') center top no-repeat;
}

p.thank-label-text {
	margin-left: -15px;
	font: 700 44px 'DINPro';
	line-height: 40px;
	color: #ffffff;
	text-align: left;
	text-transform: uppercase;
}

	p.thank-label-text strong {
		font: 900 44px 'Arial';
		line-height: 40px;
	}

img.thankyou-logo {
	display: block;
	margin: 75px auto 100px;
}

p.thankyou-text-1 {
	font: 100px 'exo_2.0light';
	line-height: 100px;
	color: #c3d54d;
	text-align: center;
	text-transform: uppercase;
}

p.thankyou-text-2 {
	padding-top: 45px;
	font: 26px 'exo_2.0light';
	line-height: 30px;
	color: #fefdfd;
	text-align: center;
}

	p.thankyou-text-2 span {
		font: 30px 'exo_2.0light';
		line-height: 30px;
		text-transform: uppercase;
	}

p.thankyou-text-3{
	padding: 75px 0;
	font: 40px 'exo_2.0light';
	line-height: 40px;
	color: #e0922f;
	text-align: center;
	text-transform: uppercase;
}




/* top-green-label */
.top-green-label {
	display: block;
	width: 100%;
	height: 80px;
	background: url('../img/green-label-bg.png') center bottom no-repeat;
}

p.sec-one-label-text {
	padding-top: 44px;
	font: 700 22px 'exo_2.0light';
	line-height: 30px;
	color: #010101;
	text-align: center;
	text-transform: uppercase;
}

/* M E N U */
.menu {
	float: right;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	background: transparent !important;
	list-style: none;
}

	.menu a {
		float: right;
		display: block;
		padding: 0;
		padding-top: 44px;
		margin: 0 40px;
		font: 700 22px 'exo_2.0light';
		line-height: 30px;
		color: #000;
		text-align: right;
	}

		.menu a:hover,
		.menu a:focus {
			cursor: pointer;
			text-decoration: none;
			text-shadow: 0px 0px 1px rgba(0, 0, 0, .45);
		}



/* SEC - ONE */
.sec-one {
	display: block;
	width: 100%;
	min-height: 686px;
	overflow: hidden;
	background: url('../img/black-bg.jpg') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

img.sec-one-img-logo {
	display: block;
	margin: 35px auto 0;
}

p.sec-one-text-1 {
	padding-top: 45px;
	font: 30px 'exo_2.0light';
	line-height: 36px;
	color: #fefdfd;
	text-align: center;
	text-transform: uppercase;
}

p.sec-one-text-2 {
	padding-top: 45px;
	padding-left: 120px;
	font: 146px 'cm_sans_serif_2012_agedmedium';
	line-height: 120px;
	color: #c3d54d;
	text-align: center;
	text-transform: uppercase;
}

	p.sec-one-text-2 span {
		margin-left: -20px;
		font: 25px 'exo_2.0light';
		color: #e0922f;
	}

p.sec-one-text-3{
	padding-top: 100px;
	font: 25px 'exo_2.0light';
	line-height: 30px;
	color: #fefdfd;
	text-align: center;
	text-transform: uppercase;
}

a.sec-one-btn {
	display: block;
	margin: 50px auto;
	width: 216px;
	height: 68px;
	font: 25px 'exo_2.0light';
	line-height: 68px;
	text-align: center;
	text-decoration: none;
	letter-spacing: .3px;
	color: #e0922f;
	outline: none;
	border: none;
	overflow: hidden;
	transition: 0.1s;
	background: url('../img/sec-one-btn.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	a.sec-one-btn::-moz-focus-inner{border:0}

	a.sec-one-btn:hover {
		cursor: pointer;
		color: #ffa533;
		text-decoration: none;
		text-shadow: none;
	}

	a.sec-one-btn:active {
		text-decoration: none;
	}



/* SEC - TWO */
.sec-two {
	display: block;
	width: 100%;
	min-height: 671px;
	background: url('../img/sec-two-bg.jpg') center bottom no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.sec-two-text-1 {
	padding-top: 330px;
	font: 400 32px 'DINPro';
	line-height: 32px;
	color: #c2d54c;
	letter-spacing: -3px;
	text-align: right;
}

p.sec-two-text-2 {
	padding-top: 10px;
	font: 900 17px 'DINPro';
	line-height: 22px;
	color: #f2f1f0;
	letter-spacing: .75px;
	text-align: right;
}

p.sec-two-text-3 {
	padding-top: 30px;
	font: 900 22px 'DINPro';
	line-height: 22px;
	color: #000;
	letter-spacing: .75px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}

p.sec-two-text-4 {
	font: 600 16px 'exo_2.0light';
	line-height: 21px;
	color: #000;
	letter-spacing: .25px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}

p.youtube-label-text {
	padding-top: 20px;
	padding-bottom: 25px;
	font: 800 56px 'DINPro';
	line-height: 56px;
	color: #000;
	letter-spacing: .75px;
	text-align: right;
}

	p.youtube-label-text strong {
		font: 900 56px 'Arial';
		line-height: 56px;
	}

.youtube-list {
	float: right;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: url('../img/marker.png');
}

	.youtube-list li {
		padding-left: 12px;
		font: 600 19px 'exo_2.0light';
		line-height: 28px;
		color: #272425;
		letter-spacing: -1px;
		text-align: left;
	}

.youtube-block {
	margin-top: 15px;
	margin-bottom: -55px;
	float: right;
	display: block;
	width: 480px;
	height: 375px;
	border-top: 14px solid #282d3c;
	border-left: 18px solid #282d3c;
	border-right: 18px solid #282d3c;
	border-bottom: 10px solid #282d3c;
	background: #c3d54d;
}

	.youtube-block iframe {
		display: block;
		margin: 0 auto;
		width: 444px;
		height: 310px;
		border: 0;
		outline: 0;

		-webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.45);
		-moz-box-shadow:    0px 8px 8px 0px rgba(0, 0, 0, 0.45);
		box-shadow:         0px 8px 8px 0px rgba(0, 0, 0, 0.45);
	}

p.youtube-text {
	padding-top: 12px;
	font: 900 18px 'exo_2.0light';
	line-height: 20px;
	color: #000;
	text-align: center;
}



/* SEC - THREE */
.sec-three {
	display: block;
	width: 100%;
	min-height: 586px;
	padding-top: 50px;
	padding-bottom: 35px;
	background: url('../img/black-bg.jpg') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.sec-three-text {
	margin-left: 75px;
	padding-top: 15px;
	font: 38px 'exo_2.0light';
	line-height: 40px;
	color: #f2f1f0;
	text-align: left;
}

	p.sec-three-text span {
		color: #c2d54c;
	}

.sec-three-block {
	float: left;
	display: block;
	width: 125px;
	margin-left: 80px;
}

.sec-three-block-ico {
	display: block;
	margin: 65px auto 10px;
	width: 96px;
	height: 96px;
	font: 56px 'exo_2.0light';
	line-height: 96px;
	color: #c2d54c;
	text-align: center;
	background: url('../img/ico-main.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.sec-three-ico-text {
	font: 900 19px 'DINPro';
	line-height: 24px;
	color: #f2f1f0;
	text-align: center;
}

	p.sec-three-ico-text span {
		color: #c2d54c;
	}

	p.sec-three-ico-text strong {
		font: 900 19px 'Arial';
		line-height: 24px;
	}

a.sec-three-btn {
	float: left;
	display: block;
	margin-top: 35px;
	margin-left: 100px;
	width: 155px;
	height: 155px;
	font: 31px 'exo_2.0light';
	line-height: 155px;
	color: #c2d54c;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	overflow: hidden;
	transition: 0.1s;
	background: url('../img/ico-main.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



	a.sec-three-btn::-moz-focus-inner{border:0}

	a.sec-three-btn:hover {
		cursor: pointer;
		color: #d4ef2f;
		text-decoration: none;
		text-shadow: none;
	}

	a.sec-three-btn:active {
		text-decoration: none;
	}

p.sec-three-ico-text-2 {
	padding-top: 45px;
	font: 146px 'cm_sans_serif_2012_agedmedium';
	line-height: 120px;
	color: #e0922f;
	text-align: center;
	text-transform: uppercase;
}

	p.sec-three-ico-text-2 span {
		margin-left: -20px;
		font: 900 21px 'DINPro';
		color: #fff;
	}

	p.sec-three-ico-text-2 strong {
		margin-right: -20px;
		font: 900 21px 'DINPro';
		color: #fff;
	}

p.sec-three-ico-text-3 {
	padding-top: 25px;
	font: 900 19px 'DINPro';
	line-height: 19px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}



/* SEC - FOUR */
.sec-four {
	display: block;
	width: 100%;
	min-height: 670px;
	background: url('../img/sec-four-bg.jpg') center bottom no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.sec-four-text-1 {
	padding-top: 370px;
	font: 400 34px 'DINPro';
	line-height: 34px;
	color: #000;
	letter-spacing: -3px;
	text-align: right;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}

p.sec-four-text-2 {
	padding-top: 5px;
	font: 900 17px 'DINPro';
	line-height: 22px;
	color: #f2f1f0;
	letter-spacing: .75px;
	text-align: right;
}

p.sec-four-text-3 {
	padding-top: 30px;
	font: 900 22px 'DINPro';
	line-height: 22px;
	color: #000;
	letter-spacing: .75px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}



/* SEC - FIVE */
.sec-five {
	display: block;
	width: 100%;
	min-height: 586px;
	padding-top: 80px;
	background: url('../img/black-bg.jpg') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.sec-five-text {
	margin-left: 10px;
	padding-bottom: 45px;
	font: 38px 'exo_2.0light';
	line-height: 40px;
	color: #f2f1f0;
	text-align: left;
}

	p.sec-five-text span {
		color: #c2d54c;
	}

.sec-five-block {
	float: left;
	display: block;
	width: 400px;
	margin-right: 35px;
	margin-bottom: 30px;
}

.sec-five-block-mini {
	float: left;
	display: block;
	width: 260px;
	margin-right: 35px;
	margin-bottom: 30px;
}

img.sec-five-block-ico {
	float: left;
	display: block;
}

p.sec-five-ico-text-1 {
	margin-left: 105px;
	font: 300 22px 'DINPro';
	line-height: 28px;
	color: #f2f1f0;
	text-align: left;
}

p.sec-five-ico-text-2 {
	padding-top: 6px;
	margin-left: 105px;
	font: 300 22px 'DINPro';
	line-height: 28px;
	color: #f2f1f0;
	text-align: left;
}

a.sec-five-btn {
	float: left;
	display: block;
	margin-top: -100px;
	margin-left: -40px;
	width: 160px;
	height: 160px;
	font: 31px 'exo_2.0light';
	line-height: 160px;
	color: #c2d54c;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	overflow: hidden;
	transition: 0.1s;
	background: url('../img/ico-main.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	a.sec-five-btn::-moz-focus-inner{border:0}

	a.sec-five-btn:hover {
		cursor: pointer;
		color: #d4ef2f;
		text-decoration: none;
		text-shadow: none;
	}

	a.sec-five-btn:active {
		text-decoration: none;
	}



/* SEC - SIX */
.sec-six {
	display: block;
	width: 100%;
	min-height: 672px;
	background: url('../img/sec-six-bg.jpg') center bottom no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.sec-six-text-1 {
	padding-top: 370px;
	font: 400 34px 'DINPro';
	line-height: 34px;
	color: #000;
	letter-spacing: -3px;
	text-align: right;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}

p.sec-six-text-2 {
	padding-top: 5px;
	font: 900 17px 'DINPro';
	line-height: 22px;
	color: #f2f1f0;
	letter-spacing: .75px;
	text-align: right;
}

p.sec-six-text-3 {
	padding-top: 30px;
	font: 900 22px 'DINPro';
	line-height: 22px;
	color: #000;
	letter-spacing: .75px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}



/* SEC - SEVEN */
.sec-seven {
	display: block;
	width: 100%;
	min-height: 640px;
	padding-top: 50px;
	padding-bottom: 40px;
	background: url('../img/black-bg.jpg') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.sec-seven-text {
	margin-left: 245px;
	padding-bottom: 45px;
	font: 38px 'exo_2.0light';
	line-height: 40px;
	color: #f2f1f0;
	text-align: left;
}

	p.sec-seven-text span {
		color: #c2d54c;
	}

.sec-seven-block {
	float: left;
	position: relative;
	display: block;
	height: 104px;
	width: 240px;
	margin-left: 120px;
	margin-bottom: 50px;

	background: url('../img/sec-seven-text-bg.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

img.sec-seven-block-ico-1 {
	position: absolute;
	display: block;
	top: 25px;
	left: -90px;
}

img.sec-seven-block-ico-2 {
	position: absolute;
	display: block;
	top: 25px;
	right: -90px;
}

img.sec-seven-block-ico-right {
	position: absolute;
	display: block;
	top: 100px;
	right: -75px;
}

img.sec-seven-block-ico-left {
	position: absolute;
	display: block;
	top: -45px;
	left: -88px;
}

p.sec-seven-ico-text-1 {
	padding: 30px 20px;
	font: 300 19px 'DINPro';
	line-height: 24px;
	color: #fff;
	text-align: left;
}

p.sec-seven-ico-text-2 {
	padding: 30px 40px;
	font: 300 19px 'DINPro';
	line-height: 24px;
	color: #fff;
	text-align: left;
}

p.sec-seven-ico-text-3 {
	padding: 20px 15px;
	font: 300 16px 'DINPro';
	line-height: 21px;
	color: #fff;
	text-align: left;
}

p.sec-seven-ico-text-4 {
	padding: 30px 22px;
	font: 300 18px 'DINPro';
	line-height: 24px;
	color: #fff;
	text-align: left;
}

a.sec-seven-btn {
	float: left;
	display: block;
	margin-top: -15px;
	margin-left: 160px;
	width: 166px;
	height: 166px;
	font: 31px 'exo_2.0light';
	line-height: 166px;
	color: #c2d54c;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	overflow: hidden;
	transition: 0.1s;
	background: url('../img/ico-main.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	a.sec-seven-btn::-moz-focus-inner{border:0}

	a.sec-seven-btn:hover {
		cursor: pointer;
		color: #d4ef2f;
		text-decoration: none;
		text-shadow: none;
	}

	a.sec-seven-btn:active {
		text-decoration: none;
	}



/* SEC - EIGHT */
.sec-eight {
	display: block;
	width: 100%;
	min-height: 614px;
	background: url('../img/sec-eight-bg.jpg') center bottom no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.sec-eight-label-text-1 {
	padding-top: 40px;
	font: 800 34px 'DINPro';
	line-height: 34px;
	color: #010101;
	text-align: left;
	text-transform: uppercase;
}

	p.sec-eight-label-text-1 strong {
		font: 900 34px 'Arial';
		line-height: 34px;
	}

p.sec-eight-label-text-2 {
	padding-top: 40px;
	font: 36px 'exo_2.0light';
	line-height: 36px;
	color: #010101;
	text-align: center;
}

.treners-block {
	float: right;
	display: block;
	width: 275px;
	margin-top: 110px;
	margin-bottom: -25px;
	margin-right: 55px;
	padding-bottom: 25px;
	background: #20262f;
}

img.sec-eight-img {
	display: block;
	margin: 0 auto 30px;
}

p.sec-eight-text {
	font: 23px 'exo_2.0light';
	line-height: 26px;
	color: #fff;
	text-align: center;
}

a.sec-eight-btn {
	display: block;
	width: 84%;
	height: 52px;
	margin: 10px auto 0;
	padding: 16px 0;
	font: 700 20px 'exo_2.0light';
	line-height: 20px;
	color: #272425;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	overflow: hidden;
	transition: 0.1s;
	background: #c3d54d;
}

	a.sec-eight-btn::-moz-focus-inner{border:0}

	a.sec-eight-btn:hover {
		cursor: pointer;
		color: #000;
		background: #b8d20f;
		text-decoration: none;
		text-shadow: none;
	}

	a.sec-eight-btn:active {
		text-decoration: none;
	}



/* SEC - NINE */
.sec-nine {
	display: block;
	width: 100%;
	min-height: 1045px;
	padding-top: 60px;
	background: url('../img/black-bg.jpg') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.sec-nine-text-1 {
	padding: 25px 0;
	font: 44px 'DIN Pro Cond';
	line-height: 44px;
	color: #ffffff;
	text-align: center;
}

p.sec-nine-text-2 {
	font: 160px 'cm_sans_serif_2012_agedmedium';
	line-height: 120px;
	color: #e0922f;
	text-align: center;
	text-transform: uppercase;
}

p.sec-nine-text-3 {
	padding-top: 30px;
	font: 27px 'exo_2.0light';
	line-height: 30px;
	color: #c2d54c;
	text-align: center;
}

.sec-nine-block {
	display: block;
	margin: 0 auto;
	width: 666px;
}

.sec-nine-price-left {
	float: left;
	display: block;
	margin-top: 60px;
}

.sec-nine-price-right {
	float: right;
	display: block;
	margin-top: 60px;
}

.sec-nine-price-center {
	float: left;
	display: block;
	margin-left: 33px;
}

p.sec-nine-price-text-1 {
	font: 52px 'cm_sans_serif_2012_agedmedium';
	line-height: 40px;
	color: #e0922f;
	text-align: center;
	text-transform: uppercase;
}

p.sec-nine-price-text-2 {
	display: block;
	height: 86px;
	width: 200px;
	margin: 0 auto;
	font: 40px 'DIN Pro Cond';
	line-height: 86px;
	color: #ffffff;
	text-align: center;

	background: url('../img/sec-seven-text-bg.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.sec-nine-price-text-3 {
	font: 40px 'DIN Pro Cond';
	line-height: 40px;
	color: #ffffff;
	text-align: center;
}

img.sec-nine-img {
	display: block;
	margin: 70px auto 55px;
}



/* SEC - TEN */
.sec-ten {
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 55px;
	background: #c3d54d;
}

p.sec-ten-text-top {
	padding-bottom: 25px;
	font: 38px 'exo_2.0light';
	line-height: 38px;
	color: #272425;
	text-align: center;
}

.tariff-card {
	float: left;
	position: relative;
	display: block;
	width: 198px;
	margin: 0 15px;
	background: transparent;
}

.tariff-header {
	display: block;
	width: 100%;
	height: 66px;
	margin: 0 auto;
	font: 600 26px 'exo_2.0light';
	line-height: 72px;
	text-align: center;
	color: #272425;

	background: #f6fbfe;
	background: -moz-linear-gradient(top, #f6fbfe 0%, #dce5ec 25%, #d6dce0 60%, #b5c1c7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6fbfe), color-stop(25%,#dce5ec), color-stop(60%,#d6dce0), color-stop(100%,#b5c1c7));
	background: -webkit-linear-gradient(top, #f6fbfe 0%,#dce5ec 25%,#d6dce0 60%,#b5c1c7 100%);
	background: -o-linear-gradient(top, #f6fbfe 0%,#dce5ec 25%,#d6dce0 60%,#b5c1c7 100%);
	background: -ms-linear-gradient(top, #f6fbfe 0%,#dce5ec 25%,#d6dce0 60%,#b5c1c7 100%);
	background: linear-gradient(to bottom, #f6fbfe 0%,#dce5ec 25%,#d6dce0 60%,#b5c1c7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6fbfe', endColorstr='#b5c1c7',GradientType=0 );

	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.tariff-body {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding-top: 85px;
	overflow: hidden;

	background: #f5f7f8;
	background: -moz-linear-gradient(top, #f5f7f8 0%, #c9cacc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f7f8), color-stop(100%,#c9cacc));
	background: -webkit-linear-gradient(top, #f5f7f8 0%,#c9cacc 100%);
	background: -o-linear-gradient(top, #f5f7f8 0%,#c9cacc 100%);
	background: -ms-linear-gradient(top, #f5f7f8 0%,#c9cacc 100%);
	background: linear-gradient(to bottom, #f5f7f8 0%,#c9cacc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f8', endColorstr='#c9cacc',GradientType=0 );

	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

p.tariff-text-1 {
	display: block;
	width: 100%;
	height: 120px;
	padding: 0 15px;
	font: 300 19px 'exo_2.0light';
	line-height: 20px;
	color: #272425;
	letter-spacing: -1px;
	text-align: left;
}

p.tariff-text-2 {
	display: block;
	width: 100%;
	height: 120px;
	padding: 0 25px;
	font: 300 19px 'exo_2.0light';
	line-height: 20px;
	color: #272425;
	letter-spacing: -1px;
	text-align: left;
}

p.tariff-price {
	position: absolute;
	display: block;
	top: 85px;
	left: -9px;
	width: 119px;
	height: 66px;
	padding: 0 5px;
	font: 27px 'exo_2.0light';
	line-height: 66px;
	color: #fff;
	text-align: center;

	background: url('../img/tariff-price.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a.tariff-btn {
	display: block;
	width: 120px;
	height: 48px;
	margin: 10px auto 20px;
	font: 300 18px 'exo_2.0light';
	line-height: 48px;
	color: #272425;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	overflow: hidden;
	transition: 0.1s;
	background: url('../img/tariff-btn.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

	a.tariff-btn::-moz-focus-inner{border:0}

	a.tariff-btn:hover {
		cursor: pointer;
		font: 700 18px 'exo_2.0light';
		line-height: 48px;
		color: #000;
		text-decoration: none;
		text-shadow: none;
	}

	a.tariff-btn:active {
		text-decoration: none;
	}



/* faq */
.faq {
	position: relative;
	display: block;
	width: 100%;
	min-height: 705px;
	padding-bottom: 40px;
	background: url('../img/sec-elev-bg.jpg') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* top-orange-label */
.top-orange-label {
	display: block;
	width: 100%;
	height: 70px;
	background: url('../img/green-orange-bg.png') center bottom no-repeat;
}

p.sec-elev-label-text-1 {
	padding-top: 30px;
	font: 800 34px 'DINPro';
	line-height: 34px;
	color: #010101;
	text-align: left;
	text-transform: uppercase;
}

	p.sec-elev-label-text-1 strong {
		font: 900 34px 'Arial';
		line-height: 34px;
	}

p.sec-elev-label-text-2 {
	padding-top: 30px;
	font: 36px 'exo_2.0light';
	line-height: 36px;
	color: #010101;
	text-align: right;
}

.faq-block {
	padding-bottom: 5px;
}

p.faq-text-2 {
	position: relative;
	display: block;
	width: 214px;
	height: 61px;
	margin: 15px auto 10px;
	padding: 20px 5px;
	font: 21px 'exo_2.0light';
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: url('../img/sec-elev-text-bg.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.faq-text-4 {
	position: relative;
	display: block;
	width: 214px;
	height: 61px;
	margin: 15px auto 10px;
	padding: 10px 5px;
	font: 18px 'exo_2.0light';
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: url('../img/sec-elev-text-bg.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.faq-text-5 {
	position: relative;
	display: block;
	width: 214px;
	height: 61px;
	margin: 15px auto 10px;
	padding: 10px 5px;
	font: 20px 'exo_2.0light';
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: url('../img/sec-elev-text-bg.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.faq-text-3 {
	position: relative;
	padding: 0;
	margin: 0;
	padding: 10px;
	width: 100%;
	font: 500 16px 'DINPro';
	line-height: 18px;
	text-align: left;
	color: #000;
}

.panel {
	position: absolute;
	display: block;
	width: 262px;
	padding: 0;
	margin: 0;
	max-height: 0;
	background: rgba(225,225,225, .95);
	border: none;
	outline: none;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	z-index: 1001;
}

button.accordion {
	position: relative;
	padding: 0;
	margin: 0;
	padding: 5px 10px;
	width: 100%;
	font: 600 17px 'exo_2.0light';
	line-height: 18px;
	letter-spacing: -1px;
	color: #000;
	text-align: left;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	transition: 0.2s;
}

	button.accordion:hover {
		background: rgba(0, 0, 0, .1);
	}

	button.accordion.active {
		top: 0;
		left: 0;
		background: rgba(255, 155, 0, .35);
		overflow: hidden;
	}



/* FOOTER */
footer {
	width: 100%;
	min-height: 520px;
	background: url('../img/footer-bg.jpg') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.footer-text-1 {
	padding-top: 60px;
	font: 26px 'exo_2.0light';
	line-height: 32px;
	text-align: center;
	color: #c2d54c;
}

a.footer-btn {
	display: block;
	margin: 35px auto 70px;
	width: 160px;
	height: 160px;
	font: 31px 'exo_2.0light';
	line-height: 160px;
	color: #c2d54c;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	overflow: hidden;
	transition: 0.1s;
	background: url('../img/ico-main.png') center center no-repeat;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	a.footer-btn::-moz-focus-inner{border:0}

	a.footer-btn:hover {
		cursor: pointer;
		color: #d4ef2f;
		text-decoration: none;
		text-shadow: none;
	}

	a.footer-btn:active {
		text-decoration: none;
	}

/* footer-label */
.footer-label {
	display: block;
	width: 100%;
	height: 43px;
	background: url('../img/green-footer-label-bg.png') center bottom no-repeat;
}

p.footer-label-text {
	margin-left: -15px;
	font: 700 44px 'DINPro';
	line-height: 40px;
	color: #ffffff;
	text-align: left;
	text-transform: uppercase;
}

	p.footer-label-text strong {
		font: 900 44px 'Arial';
		line-height: 40px;
	}

a.footer-url {
	float: right;
	display: block;
	margin-left: 90px;
	margin-right: 10px;
	padding: 10px 0 20px;
	font: 300 27px 'exo_2.0light';
	line-height: 28px;
	color: #fff;
	text-align: right;
	text-decoration: none;
}

	a.footer-url:hover {
		cursor: pointer;
		color: #ddd;
		text-decoration: none;
		text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
	}



/* form-one */
.form-one {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	margin-top: 25px;
}

	.form-one * {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance:none;
		appearance: none;
	}

	input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #2a4a4a;
	}
	input:-moz-placeholder { /* Firefox 18- */
		color: #2a4a4a;
	}
	input::-moz-placeholder { /* Firefox 19+ */
		color: #2a4a4a;
	}
	input:-ms-input-placeholder { /* IE */
		color: #2a4a4a;
	}
	input::-ms-input-placeholder { /* IE Edge */
		color: #2a4a4a;
	}

.form-one input[type="email"] {
	display: block;
	margin: 0 auto;
	padding: 6px 15px;
	width: 100%;
	height: 52px;
	font: 24px 'DINPro';
	line-height: 40px;
	text-align: center;
	color: #2a4a4a;
	background: #f7f6f6;
	box-shadow: none;
	border: none;
	border: 2px solid #fff;
	outline: none;

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance:none;
	appearance: none;
	text-indent: 0.01px; /* Removes default arrow from firefox */
	text-overflow: ''; /* Removes default arrow from firefox */

	-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 4px 8px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 4px 8px 0px rgba(0, 0, 0, 0.35);
}

	.form-one input[type="email"]::-webkit-input-placeholder,
	.form-one input[type="email"]:-moz-placeholder,
	.form-one input[type="email"]::-moz-placeholder,
	.form-one input[type="email"]:-ms-input-placeholder,
	.form-one input[type="email"]::-ms-input-placeholder {
		color: #2a4a4a;
	}

		.form-one input[type="email"]::-ms-expand {
			display: none;
		}

	.form-one input[type="email"]:focus {
		outline: none;
		box-shadow: none;
		border: 2px solid #3f8312;
	}

.form-one input[type="submit"] {
	display: block;
	margin: 18px auto 0;
	width: 100%;
	height: 74px;
	font: 24px 'DINPro';
	line-height: 70px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 0px 2px rgba(255, 255, 255, .85);
	letter-spacing: .3px;
	color: #fff;
	outline: none;
	border: none;
	border-top: 2px solid #34a700;
	border-right: 2px solid #34a700;
	border-left: 2px solid #347118;
	border-bottom: 2px solid #347118;
	overflow: hidden;
	transition: 0.1s;

	background: #257b00;
	background: -moz-linear-gradient(45deg, #257b00 0%, #48a813 45%, #48a813 55%, #257b00 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#257b00), color-stop(45%,#48a813), color-stop(55%,#48a813), color-stop(100%,#257b00));
	background: -webkit-linear-gradient(45deg, #257b00 0%,#48a813 45%,#48a813 55%,#257b00 100%);
	background: -o-linear-gradient(45deg, #257b00 0%,#48a813 45%,#48a813 55%,#257b00 100%);
	background: -ms-linear-gradient(45deg, #257b00 0%,#48a813 45%,#48a813 55%,#257b00 100%);
	background: linear-gradient(45deg, #257b00 0%,#48a813 45%,#48a813 55%,#257b00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#257b00', endColorstr='#257b00',GradientType=1 );

	-webkit-border-radius: 34px;
	-moz-border-radius: 34px;
	border-radius: 34px;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

	.form-one input[type="submit"]::-moz-focus-inner{border:0}
	.form-one input[type="submit"]:hover {
		cursor: pointer;
		color: #fff;
		text-decoration: none;
		text-shadow: none;

		-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	}

	.form-one input[type="submit"]:active {
		cursor: pointer;
		color: #fff;
		background: #257b00;
		text-decoration: none;
		text-shadow: none;
	}






/*
------------------------------------------------------
------------------------ modal ----------------------
------------------------------------------------------
*/

/* scroll fixes */
.modal-open .modal {
	padding-left: 0px !important;
	padding-right: 0px !important;
	overflow-y: scroll;
}

.modal-content {
	padding: 0;
	margin: 0;
	background: rgba(255,255,255,1);
}

.modal-header {
	margin: 0;
	padding: 0;
	padding: 15px 25px;
	background: rgba(235,235,235,1);
}

.modal-body {
	padding: 0;
	margin: 0;
	padding: 35px 25px;
	background: rgba(255,255,255,1);
}

.modal-txt-1 {
	padding: 0;
	margin: 0;
	text-align: center;
	font: 32px 'DINPro', sans-serif;
	line-height: 40px;
	color: #353535;
}

.modal-txt-2 {
	padding: 10px 0 20px;
	font: 400 15px 'DINPro', sans-serif;
	line-height: 20px;
	color: #353535;
}

.modal-txt-3 {
	padding: 0;
	font: 700 17px 'DINPro', sans-serif;
	line-height: 21px;
	color: #353535;
}

.modal-txt-4 {
	padding: 15px 0 25px;
	font: 300 14px 'DINPro', sans-serif;
	line-height: 18px;
	color: #353535;
}

.form-modal {
	display: block;
	padding: 0;
	margin: 0;
	margin: 0 auto;
}

	.form-modal * {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance:none;
		appearance: none;
	}

	input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #666666;
	}
	input:-moz-placeholder { /* Firefox 18- */
		color: #666666;
	}
	input::-moz-placeholder { /* Firefox 19+ */
		color: #666666;
	}
	input:-ms-input-placeholder { /* IE */
		color: #666666;
	}
	input::-ms-input-placeholder { /* IE Edge */
		color: #666666;
	}

.form-modal input[type="email"] {
	display: block;
	margin: 0 auto;
	padding: 10px 15px;
	width: 100%;
	height: 60px;
	font: 800 24px 'DINPro';
	line-height: 40px;
	text-align: center;
	color: #666666;
	box-shadow: none;
	border: none;
	border: 2px solid #fff;
	outline: none;

	-webkit-border-radius: 31px;
	-moz-border-radius: 31px;
	border-radius: 31px;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance:none;
	appearance: none;
	text-indent: 0.01px; /* Removes default arrow from firefox */
	text-overflow: ''; /* Removes default arrow from firefox */

	-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 4px 8px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 4px 8px 0px rgba(0, 0, 0, 0.35);
}

	.form-modal input[type="email"]::-webkit-input-placeholder,
	.form-modal input[type="email"]:-moz-placeholder,
	.form-modal input[type="email"]::-moz-placeholder,
	.form-modal input[type="email"]:-ms-input-placeholder,
	.form-modal input[type="email"]::-ms-input-placeholder {
		color: #666666;
	}

		.form-modal input[type="email"]::-ms-expand {
			display: none;
		}

	.form-modal input[type="email"]:focus {
		outline: none;
		box-shadow: none;
		border: 2px solid #ff9a02;
	}

.form-modal input[type="submit"] {
	display: block;
	margin: 15px auto 0;
	width: 100%;
	height: 62px;
	font: 800 24px 'DINPro';
	line-height: 62px;
	text-align: center;
	text-decoration: none;
	letter-spacing: .3px;
	color: #fff;
	background: #ff9a02;
	outline: none;
	border: none;
	overflow: hidden;
	transition: 0.1s;
	box-shadow: none;

	-webkit-border-radius: 31px;
	-moz-border-radius: 31px;
	border-radius: 31px;

	-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 4px 8px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 4px 8px 0px rgba(0, 0, 0, 0.35);
}

	.form-modal input[type="submit"]::-moz-focus-inner{border:0}
	.form-modal input[type="submit"]:hover {
		cursor: pointer;
		color: #fff;
		background: #e68b01;
		text-decoration: none;
		border-bottom: none;

		-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 0px 1px 0px rgba(50, 50, 50, 0.75);

		background: #e68b01;
	}

	.form-modal input[type="submit"]:active {
		cursor: pointer;
		color: #fff;
		background: #e68b01;
		text-decoration: none;
	}